.car-list {
  margin: 10px 10px;
  padding: 0;
}

.car-list-item {
  list-style-type: none;
  border-bottom: 1px dashed black;
  padding: 10px 0 0 0;
}

.car-list-item span {
  font-size: 1.2em;
  margin-left: 20px;
}

.victory-message-show {
  display: block;
}

.victory-message-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 15px);
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2em;
  background-color: coral;
}

.victory-message-hide {
  display: none;
}

.garage-info {
  margin: 10px;
}

.pagination-buttons {
  margin: 20px 10px;
  text-align: center;
}