body {
  margin: 0;
}

.garage-page {
  position: fixed;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: auto;
  background: white;
}

.garage-page-hide {
  z-index: -20;
}

.controls {
  margin: 10px;
}