.winners-page-hide {
  z-index: -20;
}

.winners-page {
  position: fixed;
  top: 30px;
  width: 100%;
  height: calc(100vh - 30px);
  background-color: white;
}

.table-of-winners {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid grey;
}

.table-of-winners th {
  border: 1px solid grey;
  padding: 10px;
  background-color: aquamarine;
}

.table-of-winners td {
  text-align: center;
  border: 1px solid grey;
  padding: 5px;
}